{% extends 'layout.html' %}
{% load static%}

{% block content %}


<body style="background-color:rgb(246,241,134)">
    <div class="container">
    <div class="row mt-3">
        <div class="col-lg-8">
            <img src="https://i.pinimg.com/originals/e3/ff/96/e3ff96bf9d25d9f6ce728bb8c982186a.jpg" alt="" class="rounded w-100">
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title font-italic m-0">Giriş</h4>
                </div>
                <div class="card-body">
                    <form action = "{% url 'login' %}" method ="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <!-- <label for="username">Username</label> -->
                            <input type="text" name="username" class="form-control my-2" placeholder="Kullanıcı Adı" required>

                            <input type="password" name="password" class="form-control my-2" placeholder="Şifre" required>
                            <hr class="mb-0">
                            <!--
                                <div class="form-check">
                                    <label for="" class="from-check-label">
                                        <input type="checkbox"> <small> Save me.</a>
                                    </label>
                                </div>
                                <hr class="mt-0">
                            -->
                            <button type="submit" class="btn btn-danger mb-0 btn-block">Giriş yap!</button>
                        </div>

                    </form>


                </div>
            </div>
        </div>
    </div>
</div>
</body>
{% endblock %}